#mes-projets-section{
    height: max-content;
}

#mes-projets-section .row{
    margin-top: 6em;
}

.preview-mobile {
    display: none;
}

#preview-img {
    border-radius: 8px;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.projet-block p {
    margin-bottom: 1em ;

    color: black;
    font-weight: 700;
    font-size: 1.2em ;

    border-radius: 8px;
    background-color: grey;
    padding: 1.2em 2em;

    cursor: pointer;
}

.projet-block p:hover{
    background-color: white;
}

@media screen and (max-width:990px) {
    .projet-block {
        margin: 1em 0em;
    }

    .projet-block p {
        margin: 1em 0em;
        background-color: white;
    }

    .preview-mobile {
        width: 100%;
        border-radius: 12px;
        display: block;
    }

    #preview-img {
        display: none;
    }
}